<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width">
		<title>Vina Vina</title> 
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="styles.css" />
	</head>
	<body>
		<div id="container"></div>
		<div id="instructions">
			<h3> Are you ready to Dance?</h3>
			<h3>Rules are simple, follow the light pattern</h3>
			<h3>Its not how fast you follow them but how accurate you are</h3>
			<h3 id="ready">When you're ready press any key to start!!!</h3>
		</div>

		<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="noise/scripts/p5.js"></script>
		<script src= "noise/scripts/p5.dom.js"></script>
		<script src="noise/scripts/p5.sound.js"></script>
		<script src="noise/scripts/whammy.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="http://connect.soundcloud.com/sdk.js"></script>
		<script src="noise/scripts/sketch_2.js"></script>
	</body>
</html>