<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Multiple Videos Popcorn Example</title>
		<link rel="stylesheet" href="style.css">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>	</head>
	<body>
		<h1>Vina Vina</h1>

		<input type="button" href="#" id="stream" class="big button" value="Make the Magic Happen">
		<a href="/api"><input type="button" href="/api" id="start_button" class="big button" value="Make your own Magic"></a>
		<!-- <button type="button" id ="start_button" href='/api'>Make your own Magic</button> -->
		<div id="videos"></div>

		<script src="http://connect.soundcloud.com/sdk.js"></script>
		
		<script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>
		<script src="main.js"></script>
	</body>
</html>